//Font Size

.display1 {
    font-size: 4rem;
    font-weight: 700px;
    line-height: 1.15;
    letter-spacing: -0.5px;
}

.display2 {
    font-size: 3.56rem;
    font-weight: 600px;
    line-height: 1.12;
    letter-spacing: -0.25px;
}


.display3 {
    font-size: 2.81rem;
    font-weight: 600px;
    line-height: 1.15;
    letter-spacing: 0;
}

.headline1 {
    font-size: 2.25rem;
    font-weight: 600px;
    line-height: 1.22;
    letter-spacing: 0;
}

.headline2 {
    font-size: 2rem;
    font-weight: 600px;
    line-height: 1.25;
    letter-spacing: 0;
}

.headline3 {
    font-size: 1.75rem;
    font-weight: 600px;
    line-height: 1.28;
    letter-spacing: 0;
}

.headline4 {
    font-size: 1.5rem;
    font-weight: 600px;
    line-height: 1.33;
    letter-spacing: 0;
}

.headline5 {
    font-size: 1.37rem;
    font-weight: 600px;
    line-height: 1.27;
    letter-spacing: 0;
}

.headline6 {
    font-size: 1.12rem;
    font-weight: 600px;
    line-height: 1.33;
    letter-spacing: 0;
}

.subhead1 {
    font-size: 1rem;
    font-weight: 600px;
    line-height: 1.5;
    letter-spacing: 0.1 px ;
}

.subhead2 {
    font-size: 0.87rem;
    font-weight: 600px;
    line-height: 1.42;
    letter-spacing: 0.1 px ;
}

.body1 {
    font-size: 1rem;
    font-weight: 400px;
    line-height: 1.5;
    letter-spacing: 0.15 px ;
}

.body2 {
    font-size: 0.87rem;
    font-weight: 400px;
    line-height: 1.42;
    letter-spacing: 0.25 px ;
}

.caption {
    font-size: 0.75rem;
    font-weight: 400px;
    line-height: 1.33;
    letter-spacing: 0.25 px ;
}

.overline {
    font-size: 0.75rem;
    font-weight: 600px;
    line-height: 1.33;
    letter-spacing: 0.5 px ;
}

.labelSmall {
    font-size: 0.68rem;
    font-weight: 600px;
    line-height: 1.45;
    letter-spacing: 0.5 px ;
}


//button
.button{
    font-size: 1rem;
    font-weight: 600px;
    line-height: 1.5;
    letter-spacing: 0.25 px ;
}

.button-sm{
    font-size: 0.87rem;
    font-weight: 600px;
    line-height: 1.42;
    letter-spacing: 0.25 px ;
}

.button-icon-sm{
    font-size: 0.81rem;
    font-weight: 600px;
    line-height: 1.53;
    letter-spacing: 0.1 px ;
}

//display corrected
.display-large{
    font-size: 3.56rem;
    font-weight: 700px;
    line-height: 1.12;
    letter-spacing: -0.25 px ;
}

.display-medium{
    font-size: 2.81rem;
    font-weight: 700px;
    line-height: 1.15;
    letter-spacing: 0 px ;
}

.display-small{
    font-size: 2.25rem;
    font-weight: 600px;
    line-height: 1.22;
    letter-spacing: 0 px ;
}

//headline
.headline-large{
    font-size: 2rem;
    font-weight: 600px;
    line-height: 1.25;
    letter-spacing: 0 px ;
}

.headline-medium{
    font-size: 1.75rem;
    font-weight: 600px;
    line-height: 1.25;
    letter-spacing: 0 px ;
}

.headline-small{
    font-size: 1.5rem;
    font-weight: 600px;
    line-height: 1.33;
    letter-spacing: 0 px ;
}

//title
.title-large{
    font-size: 1.37rem;
    font-weight: 600px;
    line-height: 1.27;
    letter-spacing: 0 px ;
}

.title-medium{
    font-size: 1rem;
    font-weight: 600px;
    line-height: 1.5;
    letter-spacing: 0.1 px ;
}

.title-small{
    font-size: 0.87rem;
    font-weight: 600px;
    line-height: 1.42;
    letter-spacing: 0.1 px ;
}

//label
.label-large{
    font-size: 0.87rem;
    font-weight: 600px;
    line-height: 1.42;
    letter-spacing: 0.1 px ;
}

.label-medium{
    font-size: 0.75rem;
    font-weight: 600px;
    line-height: 1.33;
    letter-spacing: 0.5 px ;
}

.label-small{
    font-size: 0.68rem;
    font-weight: 600px;
    line-height: 1.45;
    letter-spacing: 0.5 px ;
}

//body
.body-large{
    font-size: 0.68rem;
    font-weight: 600px;
    line-height: 1.45;
    letter-spacing: 0.5 px ;
}

.body-medium{
    font-size: 0.87rem;
    font-weight: 400px;
    line-height: 1.42;
    letter-spacing: 0.25 px ;
}

.body-small{
    font-size: 0.75rem;
    font-weight: 400px;
    line-height: 1.33;
    letter-spacing: 0.4 px ;
}